---
const currentYear = new Date().getFullYear();
---

<footer
  class="container m-4 mx-auto mb-10 mt-16 flex w-full justify-center opacity-80 md:max-w-2xl lg:max-w-4xl"
>
  <div
    class="mx-auto w-full max-w-screen-xl rounded-lg py-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-zinc-800/90 dark:text-zinc-200/90 sm:text-center"
      >© {currentYear}
      <a href="https://danields.dev/" class="hover:underline">DanielDS</a>.
    </span>
    <ul
      class="mt-3 flex flex-wrap items-center text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <!-- <li> -->
      <!--   <a -->
      <!--     id="contacto" -->
      <!--     href="mailto:contacto@danields.dev" -->
      <!--     class="hover:underline">Contacto</a -->
      <!--   > -->
      <!-- </li> -->
    </ul>
  </div>
</footer>
