---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
  {
    date: "Marzo 2024 - Actualidad",
    title: "Ingeniero de Desarrollo Web y DevOps",
    company: "Racks Labs",
    description:
      "Creación de aplicación web utilizando Next.js. Optimización de rendimiento y SEO. Creación de pipelines de CI/CD para la automatización de despliegues.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Noviembre 2021 - Febrero 2024",
    title: "Ingeniero de Software y Arquitecto de Sistemas",
    company: "ADD Informática",
    description:
      "Creación y el mantenimiento de algoritmos de migración críticos para el funcionamiento de más de 100 entidades. Contribución a la integración con el sistema de salub balear (IB-Salut). Diseño e implemetación de microservicios para la gestión de la información de los pacientes.",
  },
];
---

<!-- <div class="container grid items-center gap-6 px-4 md:px-6 lg:gap-10">
  <div class="space-y-3">
    <h2 class="w-full text-3xl font-bold tracking-tighter md:text-4xl/tight">
      Experiencia
    </h2>
  </div>
  <div
    class="mx-auto grid max-w-5xl items-start gap-6 lg:grid-cols-2 lg:gap-12"
  >
    <div class="grid gap-1">
      <h3 class="text-lg font-bold">User Experience Design</h3>
      <p class="text-sm">
        I create intuitive and user-friendly interfaces that make it easy for
        users to accomplish their goals.
      </p>
    </div>
  </div>
</div> -->
<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
