---
import { Image } from "astro:assets";
---

<div
  class="grid items-center gap-6 px-4 py-24 text-center md:px-6 lg:grid-cols-3 lg:justify-center lg:gap-10"
>
  <div class="col-span-2 space-y-6 lg:order-last">
    <h1
      class="md:text-5xl/lg:leading-tighter text-3xl font-semibold tracking-tighter"
    >
      Hola, soy <b class="font-black">Daniel Sintimbrean 👋</b>
    </h1>
    <p class="max-w-[600px] text-pretty text-lg md:text-xl/relaxed">
      Ingeniero de software, especializado en <strong class="text-nowrap"
        >desarrollo fullstack</strong
      > de aplicaciones web.
    </p>
    <p
      class="lg:text-sm font-body mx-auto max-w-[600px] text-gray-600 dark:text-gray-300 text-xs"
    >
      Originalmente un aprendiz de .NET; sin embargo, <span
        class="text-nowrap font-black">React y TypeScript</span
      > fueron los que realmente encendieron mi pasión por el desarrollo. <br />
    </p>
  </div>
  <Image
    alt="Hero"
    class="col-span-2 mx-auto aspect-square overflow-hidden rounded-xl object-cover object-center lg:col-span-1"
    height="310"
    src="/foto-daniel.webp"
    width="550"
  />
</div>
