---
import { Badge } from "@/components/ui/badge";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<div
  class="container grid items-center gap-6 px-4 text-center md:px-6 lg:gap-10"
>
  <div
    class="mx-auto grid max-w-5xl items-start gap-6 lg:grid-cols-2 lg:gap-12"
  >
    <Card>
      <CardContent className="p-4 transition-all duration-500 hover:scale-105">
        <a href="https://mrcryptoclub.com" target="_blank">
          <img
            alt="Project"
            class="aspect-video overflow-hidden rounded-lg object-cover object-center"
            src="/projects/mr-crypto-landing.webp"
          />
        </a>
      </CardContent>
      <CardHeader className="p-4">
        <CardTitle>Landing Mr. Crypto</CardTitle>
        <CardDescription>
          Landing page para Mr. Crypto Club, un proyecto de educaci칩n financiera
          y criptomonedas.
        </CardDescription>
        <CardFooter className="flex justify-center">
          <Badge color="primary" className="mr-2"> Next.js</Badge>
          <Badge color="primary" className="mr-2"> Tailwindcss</Badge>
          <Badge color="primary" className="mr-2"> Shadcn/ui</Badge>
        </CardFooter>
      </CardHeader>
    </Card>
    <Card>
      <CardContent className="p-4 transition-all duration-500 hover:scale-105">
        <img
          alt="Project"
          class="aspect-video overflow-hidden rounded-lg object-cover object-center"
          src="/projects/kilo-y-medio.webp"
        />
      </CardContent>
      <CardHeader className="p-4">
        <CardTitle>Kilo y Medio</CardTitle>
        <CardDescription>
          E-commerce de productos a granel, org치nicos y org치nicos con entrega a
          domicilio. Adem치s con recetas, talleres y tips para una vida
          saludable.
        </CardDescription>
        <CardFooter className="flex justify-center">
          <Badge color="primary" className="mr-2"> Next.js</Badge>
          <Badge color="primary" className="mr-2"> MySQL</Badge>
          <Badge color="primary" className="mr-2"> tRPC </Badge>
        </CardFooter>
      </CardHeader>
    </Card>
  </div>
</div>
