---
import Layout from "../layouts/Layout.astro";

import "@/styles/globals.css";

import { Porfolio } from "@/components/porfolio";
---

<Layout title="Welcome to Astro." description="">
  <main>
    <Porfolio />
  </main>
</Layout>
